<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- Header start for Login -->
  <%- include ('partials/header.ejs') %>
  <!-- Header end for Login -->

  <!-- navigation start for Login -->
  <%- include ('partials/navigation.ejs') %>
  <!-- navigation end for Login -->

  <!-- main start for Login -->
  <main>
    <section> 
      <header>
        <h2>Login</h2>
      </header>
      <form id="contact-for" class="form_nc" method="POST" action="login">
        <div class="form_format">
          <div class="form_div">
            <label id="Login">Username</label>
            <input type="text" name="login" placeholder="email address here">
          </div>
          <div class="form_div">
            <label id="Password">Password</label>
            <input type="password" name="Password" placeholder="Password">
          </div>
          <div class="form_div">
            <input type="submit" class="submit_bttn" value="Log In" />
          </div>
        </div>
      </form>
    </section>
  </main>
  <!-- main end for Login -->

  <!-- footer start for Login -->
  <%- include ('partials/footer.ejs') %>
  <!-- footer end for Login -->
</body>

</html>